:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-green: #31d0aa;
  --color-grey: rgba(46, 47, 66, 0.7);
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
}

body {
  background-color: #ffffff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.link {
  color: inherit;
  text-decoration: none;
}
.list {
  list-style: none;
}
/**
  |============================
  | Header
  |============================
*/
.logo-web {
  color: var(--color-iris);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio {
  color: var(--color-navy-blue);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-nav {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.list-addres .addres-link:hover,
.list-addres .addres-link:focus {
  color: var(--color-white);
  color: var(--color-iris);
}
.addres-link {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/**
  |============================
  | Main content
  |============================
*/
.hero-slogan {
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-section {
  background-color: var(--color-navy-blue);
}

.buton-hero {
  color: var(--color-white);
  background-color: var(--color-iris);
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
}
/**
  |============================
  | Section Feature 1
  |============================
*/

.menu {
  color: var(--color-navy-blue);
}

.lisl-feature {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-feature {
  font-weight: 400;
  font-size: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Section What are we doing 2
  |============================
*/
.image-title {
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Section Our Team 3
  |============================
*/
.section-team {
  background-color: var(--color-cloud);
}
.team-section-title {
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  letter-spacing: 0.02em;
}
.team-title {
  color: var(--color-navy-blue);
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
}
.team-text {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.team-list {
  background-color: var(--color-white);
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  background-color: var(--color-navy-blue);
}
.title-footer {
  color: var(--color-cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.studio-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
}
.web-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
/**
  |============================
  | Button
  |============================
*/
.buton-all {
  color: var(--color-white);
  background-color: var(--color-ocean);
  letter-spacing: 0.04em;
  line-height: 1.5;
}
.about-buton {
  color: var(--color-iris);
  background-color: var(--color-cloud);
  letter-spacing: 0.04em;
  line-height: 1.5;
}

/**
  |============================
  | Section services
  |============================
*/
.title-portfolio {
  color: var(--color-navy-blue);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-portfolio {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | 
  |============================
*/
