body {
  background-color: #ffffff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;

  color: #434455;
  color: #4d5ae5;
  background: #2e2f42;
}

/**
  |============================
  | Header
  |============================
*/
.logo-web {
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}
.list-nav {
  color: #2e2f42;
}
.list-addres {
  color: #434455;
}
.list-addres .addres-link:hover,
.list-addres .addres-link:focus {
  color: #ffffff;
  color: #4d5ae5;
}

/**
  |============================
  | Main content
  |============================
*/
.hero-slogan {
  color: #ffffff;
  background: #2e2f42;
}
.buton-hero {
  color: #ffffff;
  background-color: #4d5ae5;
}
/**
  |============================
  | Section Feature 1
  |============================
*/

/**
  |============================
  | Section What are we doing 2
  |============================
*/

/**
  |============================
  | Section Our Team 3
  |============================
*/

/**
  |============================
  | Footer
  |============================
*/

/**
  |============================
  | Button
  |============================
*/
